---
# Inherit default checks for clang-tidy.
Checks: '*'

# Disable specific checks.
Checks: >-
  -*,
  -cppcoreguidelines-*,
  -modernize-*,
  -bugprone-*,
  -performance-*,
  -readability-*,
  -modernize-use-trailing-return-type
  -misc-unused-includes




# Specify header filter to only apply clang-tidy checks to certain files.
#HeaderFilterRegex: '^LkGui/src/'
